workflow.json
{
  "name": "部落格自動產文 v5.0 (Agent + Claude 4.5 + 多圖 + SEO + Rank Math)",
  "nodes": [
    {
      "parameters": {},
      "id": "node-trigger",
      "name": "手動觸發",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "在此填入你的 Google Sheet ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "工作表1"
        },
        "options": {}
      },
      "id": "node-read-gsheet",
      "name": "讀取 Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [220, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gsheet-credential",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 為每筆資料加上 row_number (從第2列開始，因為第1列是標題)\nconst items = $input.all();\nreturn items.map((item, index) => ({\n  json: {\n    ...item.json,\n    row_number: index + 2\n  }\n}));"
      },
      "id": "node-add-row-number",
      "name": "加入列號",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-ready",
              "leftValue": "={{ $json['狀態'] }}",
              "rightValue": "待處理",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-filter",
      "name": "篩選待處理",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "maxItems": 1,
        "options": {}
      },
      "id": "node-first-item",
      "name": "只取第一筆",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [880, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-has-data",
              "leftValue": "={{ $json['關鍵字'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-check-data",
      "name": "檢查有資料",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "jsCode": "// 無待處理資料時的輸出\nreturn [{\n  json: {\n    status: 'no_data',\n    message: '沒有待處理的文章'\n  }\n}];"
      },
      "id": "node-no-data",
      "name": "無資料輸出",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 500]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# ROLE\n你是一位擁有 10 年經驗的 SEO 內容策略專家與 AI Agent。你專精 Google E-E-A-T 原則、Rank Math SEO 優化、搜尋意圖分析。你只用繁體中文撰寫內容。\n\n你是一個 Agent：請先分析關鍵字的搜尋意圖（資訊型/交易型/導航型），再決定文章的結構與語氣。\n\n# INPUT\n- 關鍵字: {{ $json['關鍵字'] }}\n- 標題: {{ $json['標題'] || $json['關鍵字'] }}\n- 方向: {{ $json['方向'] || '無' }}\n- 個人經驗/素材: {{ $json['素材'] || '無' }}\n\n# AGENT 思考步驟\n1. 分析此關鍵字的搜尋意圖（informational/transactional/navigational）\n2. 判斷目標讀者的知識水準與需求\n3. 決定最佳的文章結構與語氣\n4. 撰寫符合 E-E-A-T 的高品質內容\n5. 針對 Rank Math 優化所有 SEO 欄位\n\n# RULES\n1. 嚴格遵循 E-E-A-T 原則：展現專業知識（Expertise）、經驗（Experience）、權威性（Authoritativeness）、可信度（Trustworthiness）\n2. 若有提供「個人經驗/素材」，必須自然融入文章中，以第一人稱敘述增加真實感\n3. 段落 2-4 句，每 250-350 字換一個 H2，確保閱讀節奏\n4. 關鍵字密度 1-2%，自然融入，同段不超過 2 次\n5. 列舉用 <ul>/<ol>，比較用 <table>，步驟用有序列表\n6. 結尾加 FAQ（至少 3 題，使用 Schema Markup 友善格式）和 CTA\n7. 標點用全形，中英數之間不加空格\n8. 內容要有深度，不要只是表面介紹，要提供可操作的建議\n9. 適當使用 <strong> 標記重要關鍵詞，有助 SEO\n\n# OUTPUT STRUCTURE\n1. 開場段落（痛點共鳴 + 解決方案預告 + 為什麼這篇文章值得讀）\n2. TL;DR 摘要（3-5 點 <ul>，快速概覽核心重點）\n3. H2/H3 章節內容（1200+ 字，至少 4 個 H2 段落，每段有實用建議）\n4. FAQ 區塊（用 <details><summary>問題</summary>答案</details>，至少 3 題）\n5. CTA 段落（明確的行動呼籲）\n\n# 圖片說明要求（重要！）\n- 為文章的「前三個 H2 段落」各產生一個獨立的圖片描述（image_prompts）\n- 每個描述必須根據該段落的標題和內容，產生截然不同的視覺概念\n- 描述要具體（包含場景、物件、色調）、有差異性，避免三張圖看起來相似\n- 圖片會自動插入到該段落的最後面\n\n# 圖片 ALT 文字要求（SEO 重要！）\n- 為每張圖片產生 SEO 友善的繁體中文 alt 文字（image_alts）\n- 第一張圖的 alt 必須包含主要關鍵字，格式：「[關鍵字] - [圖片描述]」\n- 第二、三張圖的 alt 根據該段落內容描述，自然融入相關關鍵字\n- alt 文字長度 10-30 字，簡潔但有描述性\n\n# RANK MATH SEO 欄位要求\n- seo_title: 含關鍵字的吸睛標題，50-60 字元，符合搜尋意圖，可用數字或括號增加點擊率\n- seo_description: 含關鍵字的 Meta 描述，150-160 字元，有行動呼籲和價值主張\n- focus_keyword: 主要關鍵字（通常就是輸入的關鍵字）\n- secondary_keywords: 3-5 個相關長尾關鍵字，逗號分隔\n\n# JSON OUTPUT\n{\n  \"title\": \"文章標題（用於 WordPress 文章標題，含關鍵字，吸引點擊）\",\n  \"slug\": \"english-slug-with-keyword\",\n  \"content\": \"純 HTML 文章（<h2><h3><p><ul><ol><table><details><strong> 等，不含圖片標籤，1200+ 字）\",\n  \"excerpt\": \"文章摘要 100-150 字，含關鍵字\",\n  \"image_prompts\": [\n    \"English description for section 1 image, specific scene and objects, professional modern style, 1200x630\",\n    \"English description for section 2 image, completely different visual concept, professional modern style, 1200x630\",\n    \"English description for section 3 image, unique perspective and composition, professional modern style, 1200x630\"\n  ],\n  \"image_alts\": [\n    \"[關鍵字] - 第一段圖片的 SEO alt 文字\",\n    \"第二段圖片的描述性 alt 文字\",\n    \"第三段圖片的描述性 alt 文字\"\n  ],\n  \"seo\": {\n    \"title\": \"SEO 標題（50-60 字元，含關鍵字，有點擊誘因）\",\n    \"description\": \"Meta 描述（150-160 字元，含關鍵字、價值主張和 CTA）\",\n    \"focus_keyword\": \"主要關鍵字\",\n    \"secondary_keywords\": \"次要關鍵字1, 次要關鍵字2, 次要關鍵字3, 次要關鍵字4\"\n  }\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "node-ai-agent",
      "name": "Claude 產文+SEO",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1320, 300],
      "onError": "continueErrorOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {
          "maxTokensToSample": 8192,
          "temperature": 1
        }
      },
      "id": "node-claude-model",
      "name": "Claude Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [1240, 540],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-credential",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": { \"type\": \"string\", \"description\": \"文章標題\" },\n    \"slug\": { \"type\": \"string\", \"description\": \"英文網址\" },\n    \"excerpt\": { \"type\": \"string\", \"description\": \"文章摘要\" },\n    \"content\": { \"type\": \"string\", \"description\": \"HTML 文章內容\" },\n    \"image_prompts\": { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"description\": \"前三段的圖片生成提示詞陣列\" },\n    \"image_alts\": { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"description\": \"前三段的圖片 SEO alt 文字陣列\" },\n    \"seo\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"title\": { \"type\": \"string\", \"description\": \"SEO 標題\" },\n        \"description\": { \"type\": \"string\", \"description\": \"Meta 描述\" },\n        \"focus_keyword\": { \"type\": \"string\", \"description\": \"焦點關鍵字\" },\n        \"secondary_keywords\": { \"type\": \"string\", \"description\": \"次要關鍵字\" }\n      },\n      \"required\": [\"title\", \"description\", \"focus_keyword\"]\n    }\n  },\n  \"required\": [\"title\", \"slug\", \"excerpt\", \"content\", \"image_prompts\", \"image_alts\", \"seo\"]\n}"
      },
      "id": "node-output-parser",
      "name": "JSON 格式化",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [1400, 540]
    },
    {
      "parameters": {
        "jsCode": "// 檢查 Gemini API Key 是否已設定\nconst GEMINI_KEY = '在此填入你的_GEMINI_API_KEY';\nconst hasGeminiKey = GEMINI_KEY !== '在此填入你的' + '_GEMINI_API_KEY';\n\nconst output = $json.output;\nconst original = $('只取第一筆').first().json;\nconst keyword = original['關鍵字'];\n\n// 若無 Gemini Key，跳過圖片流程\nif (!hasGeminiKey) {\n  return [{\n    json: {\n      skip_images: true,\n      article: {\n        title: output.title,\n        slug: output.slug,\n        content: output.content,\n        excerpt: output.excerpt\n      },\n      seo: output.seo,\n      original: {\n        keyword: keyword,\n        title: original['標題'] || '',\n        row_number: original['row_number']\n      }\n    }\n  }];\n}\n\n// 確保 image_prompts 是陣列且有 3 個元素\nconst imagePrompts = output.image_prompts || [];\nwhile (imagePrompts.length < 3) {\n  imagePrompts.push('Professional blog illustration, modern clean style, 1200x630');\n}\n\n// 確保 image_alts 是陣列且有 3 個元素（含關鍵字的 fallback）\nconst imageAlts = output.image_alts || [];\nwhile (imageAlts.length < 3) {\n  const fallbackAlt = imageAlts.length === 0 ? `${keyword} - 專業圖解說明` : `${output.title} - 圖${imageAlts.length + 1}`;\n  imageAlts.push(fallbackAlt);\n}\n\n// 產生 3 筆資料，每筆對應一張圖片\nconst items = [];\nfor (let i = 0; i < 3; i++) {\n  items.push({\n    json: {\n      skip_images: false,\n      index: i,\n      image_prompt: imagePrompts[i],\n      image_alt: imageAlts[i],\n      article: {\n        title: output.title,\n        slug: output.slug,\n        content: output.content,\n        excerpt: output.excerpt\n      },\n      seo: output.seo,\n      original: {\n        keyword: keyword,\n        title: original['標題'] || '',\n        row_number: original['row_number']\n      }\n    }\n  });\n}\n\nreturn items;"
      },
      "id": "node-split-prompts",
      "name": "拆分圖片任務",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1620, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "node-loop",
      "name": "批次處理圖片",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [2060, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-skip-images",
              "leftValue": "={{ $json.skip_images }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-check-images",
      "name": "檢查圖片設定",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1840, 300]
    },
    {
      "parameters": {
        "jsCode": "// 無圖片模式：準備文章資料直接送 WP\nconst data = $('拆分圖片任務').first().json;\n\nreturn [{\n  json: {\n    article: data.article,\n    seo: data.seo,\n    original: data.original,\n    images: [],\n    wp_media: {\n      id: 0\n    }\n  }\n}];"
      },
      "id": "node-no-image-article",
      "name": "準備無圖文章",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2060, 550]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-preview-image-generation:generateContent?key=在此填入你的_GEMINI_API_KEY",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Generate a professional blog image: {{ $json.image_prompt }}. Style: modern, clean, professional business aesthetic, 1200x630 pixels, suitable for blog content.\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"responseModalities\": [\"image\", \"text\"]\n  }\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "node-gemini-image",
      "name": "Gemini 產圖",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2280, 300],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// 從 Gemini 回應取得 base64 圖片\nconst response = $input.first().json;\nconst prevData = $('批次處理圖片').first().json;\n\nlet base64Image = null;\nlet mimeType = 'image/png';\n\n// 解析 Gemini 回應結構\nif (response.candidates && response.candidates[0]) {\n  const parts = response.candidates[0].content.parts;\n  for (const part of parts) {\n    if (part.inlineData) {\n      base64Image = part.inlineData.data;\n      mimeType = part.inlineData.mimeType || 'image/png';\n      break;\n    }\n  }\n}\n\nif (!base64Image) {\n  throw new Error('Gemini 未回傳圖片');\n}\n\nconst extension = mimeType.split('/')[1] || 'png';\nconst fileName = `${prevData.article.slug}-img${prevData.index + 1}.${extension}`;\n\nreturn [{\n  json: {\n    index: prevData.index,\n    article: prevData.article,\n    seo: prevData.seo,\n    original: prevData.original,\n    image: {\n      fileName: fileName,\n      mimeType: mimeType\n    }\n  },\n  binary: {\n    image: {\n      data: base64Image,\n      mimeType: mimeType,\n      fileName: fileName\n    }\n  }\n}];"
      },
      "id": "node-convert-image",
      "name": "轉換圖片格式",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2500, 300]
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $json.image.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "在此填入你的 Google Drive Folder ID"
        },
        "options": {}
      },
      "id": "node-gdrive-upload",
      "name": "上傳 Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [2720, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gdrive-credential",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "share",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "id": "node-gdrive-share",
      "name": "設定公開",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [2940, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gdrive-credential",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 記錄這張圖片的結果\nconst gdriveResult = $input.first().json;\nconst imageData = $('轉換圖片格式').first();\nconst loopData = $('批次處理圖片').first().json;\n\nconst gdriveFileId = $('上傳 Google Drive').first().json.id;\nconst gdriveUrl = `https://drive.google.com/uc?id=${gdriveFileId}&export=view`;\n\nreturn [{\n  json: {\n    index: loopData.index,\n    article: loopData.article,\n    seo: loopData.seo,\n    original: loopData.original,\n    image_result: {\n      index: loopData.index,\n      gdrive_id: gdriveFileId,\n      gdrive_url: gdriveUrl,\n      fileName: imageData.json.image.fileName,\n      mimeType: imageData.json.image.mimeType,\n      alt: loopData.image_alt\n    }\n  },\n  binary: imageData.binary\n}];"
      },
      "id": "node-record-image",
      "name": "記錄圖片結果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3160, 300]
    },
    {
      "parameters": {
        "jsCode": "// 收集所有 3 張圖片的結果\nconst allItems = $('記錄圖片結果').all();\n\n// 按 index 排序\nconst sortedItems = allItems.sort((a, b) => a.json.index - b.json.index);\n\n// 取得文章資料（從第一筆）\nconst article = sortedItems[0].json.article;\nconst seo = sortedItems[0].json.seo;\nconst original = sortedItems[0].json.original;\n\n// 收集所有圖片 URL\nconst imageResults = sortedItems.map(item => item.json.image_result);\n\n// 將圖片插入到文章的前三個 H2 段落後面\nlet content = article.content;\n\n// 找出所有 H2 段落的結束位置（找 </h2> 後面的第一個 </p> 或段落結束）\nconst h2Regex = /<h2[^>]*>.*?<\\/h2>/gi;\nlet h2Matches = [];\nlet match;\nwhile ((match = h2Regex.exec(content)) !== null) {\n  h2Matches.push({ index: match.index, length: match[0].length, end: match.index + match[0].length });\n}\n\n// 在前三個 H2 後面找到適合插入圖片的位置（該段落的結尾）\n// 策略：在每個 H2 後找到下一個 H2 或文章結尾之前的位置\nconst insertPositions = [];\nfor (let i = 0; i < Math.min(3, h2Matches.length); i++) {\n  const currentH2End = h2Matches[i].end;\n  const nextH2Start = h2Matches[i + 1] ? h2Matches[i + 1].index : content.length;\n  \n  // 在這個區間內找最後一個 </p>、</ul>、</table>、</details> 作為插入點\n  const sectionContent = content.substring(currentH2End, nextH2Start);\n  const lastTagMatch = sectionContent.match(/.*(<\\/p>|<\\/ul>|<\\/table>|<\\/details>)/s);\n  \n  if (lastTagMatch) {\n    const insertPos = currentH2End + lastTagMatch[0].length;\n    insertPositions.push(insertPos);\n  } else {\n    // 如果找不到，就插在 H2 結束後\n    insertPositions.push(currentH2End);\n  }\n}\n\n// 從後往前插入圖片（避免位置偏移）\nfor (let i = insertPositions.length - 1; i >= 0; i--) {\n  if (imageResults[i]) {\n    // 使用 Claude 產生的 SEO alt 文字\n    const altText = imageResults[i].alt || `${article.title} - 圖${i + 1}`;\n    const imgTag = `\\n<figure class=\"wp-block-image size-large\"><img src=\"${imageResults[i].gdrive_url}\" alt=\"${altText}\" /></figure>\\n`;\n    content = content.slice(0, insertPositions[i]) + imgTag + content.slice(insertPositions[i]);\n  }\n}\n\n// 第一張圖的 binary 資料（用於 WP 精選圖片）\nconst firstImageBinary = sortedItems[0].binary;\n\nreturn [{\n  json: {\n    article: {\n      ...article,\n      content: content  // 已插入圖片的 content\n    },\n    seo: seo,\n    original: original,\n    images: imageResults,\n    featured_image: imageResults[0]  // 第一張當精選圖片\n  },\n  binary: firstImageBinary\n}];"
      },
      "id": "node-collect-images",
      "name": "組合文章與圖片",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3380, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://在此填入你的WordPress網址/wp-json/wp/v2/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename=\"{{ $json.featured_image.fileName }}\""
            },
            {
              "name": "Content-Type",
              "value": "={{ $binary.image.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "image",
        "options": {
          "timeout": 60000
        }
      },
      "id": "node-wp-upload-media",
      "name": "上傳首圖到 WP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3600, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "wp-auth",
          "name": "WordPress Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://在此填入你的WordPress網址/wp-json/wp/v2/media/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alt_text\": {{ JSON.stringify($('組合文章與圖片').first().json.featured_image.alt || $('組合文章與圖片').first().json.article.title) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "node-wp-update-alt",
      "name": "更新首圖 Alt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3820, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "wp-auth",
          "name": "WordPress Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 合併 WP Media 結果\nconst wpMediaUpload = $('上傳首圖到 WP').first().json;\nconst altUpdate = $input.first().json;\nconst prevData = $('組合文章與圖片').first().json;\n\nreturn [{\n  json: {\n    article: prevData.article,\n    seo: prevData.seo,\n    original: prevData.original,\n    images: prevData.images,\n    wp_media: {\n      id: wpMediaUpload.id,\n      url: wpMediaUpload.source_url || wpMediaUpload.guid?.rendered,\n      alt_text: prevData.featured_image.alt || prevData.article.title\n    }\n  }\n}];"
      },
      "id": "node-merge-wp-media",
      "name": "合併 Media 結果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4040, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://在此填入你的WordPress網址/wp-json/wp/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": {{ JSON.stringify($json.article.title) }},\n  \"slug\": {{ JSON.stringify($json.article.slug) }},\n  \"content\": {{ JSON.stringify($json.article.content) }},\n  \"excerpt\": {{ JSON.stringify($json.article.excerpt) }},\n  \"status\": \"draft\"{{ $json.wp_media.id > 0 ? ', \"featured_media\": ' + $json.wp_media.id : '' }},\n  \"meta\": {\n    \"rank_math_title\": {{ JSON.stringify($json.seo.title) }},\n    \"rank_math_description\": {{ JSON.stringify($json.seo.description) }},\n    \"rank_math_focus_keyword\": {{ JSON.stringify($json.seo.focus_keyword) }}\n  }\n}",
        "options": {}
      },
      "id": "node-wp-create-post",
      "name": "建立 WP 草稿",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4260, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "wp-auth",
          "name": "WordPress Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 準備 Rank Math SEO 更新資料\nconst wpPost = $input.first().json;\nlet prevData;\ntry {\n  prevData = $('合併 Media 結果').first().json;\n} catch (e) {\n  prevData = $('準備無圖文章').first().json;\n}\n\nreturn [{\n  json: {\n    post_id: wpPost.id,\n    post_link: wpPost.link,\n    article: prevData.article,\n    seo: prevData.seo,\n    original: prevData.original,\n    images: prevData.images || [],\n    wp_media: prevData.wp_media || { id: 0 }\n  }\n}];"
      },
      "id": "node-prepare-rankmath",
      "name": "準備 Rank Math 資料",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4480, 300]
    },
    {
      "parameters": {
        "jsCode": "// 最終輸出摘要 - 包含回填 Google Sheets 所需的欄位\nconst prevData = $input.first().json;\n\n// 取得 WP base URL\nlet editUrl = null;\ntry {\n  if (prevData.post_link) {\n    const wpBaseUrl = new URL(prevData.post_link).origin;\n    editUrl = `${wpBaseUrl}/wp-admin/post.php?post=${prevData.post_id}&action=edit`;\n  }\n} catch(e) {}\n\n// 台北時區的日期時間\nconst now = new Date();\nconst taipeiDate = now.toLocaleString('zh-TW', { \n  timeZone: 'Asia/Taipei',\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit',\n  hour12: false\n}).replace(/\\//g, '-');\n\n// 收集所有圖片 URL\nconst imageCount = (prevData.images || []).length;\nconst imageUrls = (prevData.images || []).map(img => img.gdrive_url);\n\nconst imageMsg = imageCount > 0 ? `含 ${imageCount} 張圖片` : '純文字，無圖片';\n\nreturn [{\n  json: {\n    // Google Sheets 更新用欄位\n    row_number: prevData.original.row_number,\n    狀態: '已完成',\n    日期: taipeiDate,\n    // 詳細資訊\n    status: 'success',\n    message: `文章已建立並完成 SEO 設定（${imageMsg}）`,\n    title: prevData.article.title,\n    keyword: prevData.original.keyword,\n    wordpress: {\n      post_id: prevData.post_id,\n      post_url: prevData.post_link,\n      edit_url: editUrl,\n      featured_image: (prevData.wp_media || {}).url || null\n    },\n    seo: {\n      title: prevData.seo.title,\n      description: prevData.seo.description,\n      focus_keyword: prevData.seo.focus_keyword,\n      secondary_keywords: prevData.seo.secondary_keywords || '',\n      rank_math_updated: true\n    },\n    images: {\n      count: imageCount,\n      urls: imageUrls\n    }\n  }\n}];"
      },
      "id": "node-output",
      "name": "輸出結果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4920, 300]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "在此填入你的 Google Sheet ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "工作表1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "關鍵字": "={{ $json.keyword }}",
            "狀態": "={{ $json['狀態'] }}",
            "日期": "={{ $json['日期'] }}"
          }
        },
        "matchingColumns": ["關鍵字"],
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "node-update-gsheet",
      "name": "回填狀態日期",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [5140, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gsheet-credential",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 最終完成訊息\nconst result = $('輸出結果').first().json;\n\nreturn [{\n  json: {\n    ...result,\n    sheet_updated: true,\n    completed_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "node-final-output",
      "name": "完成",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5360, 300]
    },
    {
      "parameters": {
        "fromEmail": "在此填入你的寄件Email",
        "toEmail": "在此填入你的通知Email",
        "subject": "=部落格自動產文成功 - {{ $json.title }}",
        "text": "=文章已成功建立！\n\n📝 基本資訊\n關鍵字：{{ $json.keyword }}\n標題：{{ $json.title }}\n\n🔗 WordPress 連結\n文章網址：{{ $json.wordpress.post_url }}\n編輯網址：{{ $json.wordpress.edit_url }}\n\n🎯 Rank Math SEO\nSEO 標題：{{ $json.seo.title }}\nMeta 描述：{{ $json.seo.description }}\n焦點關鍵字：{{ $json.seo.focus_keyword }}\n次要關鍵字：{{ $json.seo.secondary_keywords || '' }}\nRank Math 更新：✅ 已隨文章建立\n\n🖼️ 圖片（共 {{ $json.images.count }} 張）{{ $json.images.count > 0 ? '\\n圖 1：' + $json.images.urls[0] + '\\n圖 2：' + $json.images.urls[1] + '\\n圖 3：' + $json.images.urls[2] : '\\n（未設定 Gemini API Key，略過圖片產生）' }}\n\n⏰ 完成時間：{{ $json.completed_at }}",
        "options": {}
      },
      "id": "node-email-success",
      "name": "寄信通知-成功",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [5580, 300],
      "credentials": {
        "smtp": {
          "id": "smtp-credential",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// AI 產文失敗時的錯誤處理\nconst errorData = $input.first().json;\nconst original = $('只取第一筆').first().json;\n\nreturn [{\n  json: {\n    status: 'ai_error',\n    message: 'Claude AI 產文失敗（已重試 2 次）',\n    keyword: original['關鍵字'] || '未知',\n    error: JSON.stringify(errorData).substring(0, 500),\n    row_number: original['row_number']\n  }\n}];"
      },
      "id": "node-ai-error-handler",
      "name": "錯誤觸發-AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1620, 500]
    },
    {
      "parameters": {},
      "id": "node-error-trigger",
      "name": "錯誤觸發",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [0, 600]
    },
    {
      "parameters": {
        "fromEmail": "在此填入你的寄件Email",
        "toEmail": "在此填入你的通知Email",
        "subject": "=部落格自動產文失敗 - {{ $now.setZone('Asia/Taipei').toFormat('yyyy-MM-dd HH:mm') }}",
        "text": "=工作流程執行失敗！\n\n錯誤訊息：{{ $json.message || $json.execution?.error?.message || '未知錯誤' }}\n\n關鍵字：{{ $json.keyword || '未知' }}\n\n失敗節點：{{ $json.execution?.lastNodeExecuted || 'Claude 產文+SEO' }}\n\n錯誤詳情：{{ $json.error || '' }}\n\n請檢查 n8n 執行記錄了解詳情。",
        "options": {}
      },
      "id": "node-email-error",
      "name": "寄信通知-失敗",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [220, 600],
      "credentials": {
        "smtp": {
          "id": "smtp-credential",
          "name": "SMTP"
        }
      }
    }
  ],
  "connections": {
    "手動觸發": {
      "main": [[{ "node": "讀取 Google Sheets", "type": "main", "index": 0 }]]
    },
    "讀取 Google Sheets": {
      "main": [[{ "node": "加入列號", "type": "main", "index": 0 }]]
    },
    "加入列號": {
      "main": [[{ "node": "篩選待處理", "type": "main", "index": 0 }]]
    },
    "篩選待處理": {
      "main": [[{ "node": "只取第一筆", "type": "main", "index": 0 }]]
    },
    "只取第一筆": {
      "main": [[{ "node": "檢查有資料", "type": "main", "index": 0 }]]
    },
    "檢查有資料": {
      "main": [
        [{ "node": "Claude 產文+SEO", "type": "main", "index": 0 }],
        [{ "node": "無資料輸出", "type": "main", "index": 0 }]
      ]
    },
    "Claude Model": {
      "ai_languageModel": [[{ "node": "Claude 產文+SEO", "type": "ai_languageModel", "index": 0 }]]
    },
    "JSON 格式化": {
      "ai_outputParser": [[{ "node": "Claude 產文+SEO", "type": "ai_outputParser", "index": 0 }]]
    },
    "Claude 產文+SEO": {
      "main": [
        [{ "node": "拆分圖片任務", "type": "main", "index": 0 }],
        [{ "node": "錯誤觸發-AI", "type": "main", "index": 0 }]
      ]
    },
    "拆分圖片任務": {
      "main": [[{ "node": "檢查圖片設定", "type": "main", "index": 0 }]]
    },
    "檢查圖片設定": {
      "main": [
        [{ "node": "準備無圖文章", "type": "main", "index": 0 }],
        [{ "node": "批次處理圖片", "type": "main", "index": 0 }]
      ]
    },
    "準備無圖文章": {
      "main": [[{ "node": "建立 WP 草稿", "type": "main", "index": 0 }]]
    },
    "批次處理圖片": {
      "main": [
        [{ "node": "Gemini 產圖", "type": "main", "index": 0 }],
        [{ "node": "組合文章與圖片", "type": "main", "index": 0 }]
      ]
    },
    "Gemini 產圖": {
      "main": [[{ "node": "轉換圖片格式", "type": "main", "index": 0 }]]
    },
    "轉換圖片格式": {
      "main": [[{ "node": "上傳 Google Drive", "type": "main", "index": 0 }]]
    },
    "上傳 Google Drive": {
      "main": [[{ "node": "設定公開", "type": "main", "index": 0 }]]
    },
    "設定公開": {
      "main": [[{ "node": "記錄圖片結果", "type": "main", "index": 0 }]]
    },
    "記錄圖片結果": {
      "main": [[{ "node": "批次處理圖片", "type": "main", "index": 0 }]]
    },
    "組合文章與圖片": {
      "main": [[{ "node": "上傳首圖到 WP", "type": "main", "index": 0 }]]
    },
    "上傳首圖到 WP": {
      "main": [[{ "node": "更新首圖 Alt", "type": "main", "index": 0 }]]
    },
    "更新首圖 Alt": {
      "main": [[{ "node": "合併 Media 結果", "type": "main", "index": 0 }]]
    },
    "合併 Media 結果": {
      "main": [[{ "node": "建立 WP 草稿", "type": "main", "index": 0 }]]
    },
    "建立 WP 草稿": {
      "main": [[{ "node": "準備 Rank Math 資料", "type": "main", "index": 0 }]]
    },
    "準備 Rank Math 資料": {
      "main": [[{ "node": "輸出結果", "type": "main", "index": 0 }]]
    },
    "輸出結果": {
      "main": [[{ "node": "回填狀態日期", "type": "main", "index": 0 }]]
    },
    "回填狀態日期": {
      "main": [[{ "node": "完成", "type": "main", "index": 0 }]]
    },
    "完成": {
      "main": [[{ "node": "寄信通知-成功", "type": "main", "index": 0 }]]
    },
    "錯誤觸發-AI": {
      "main": [[{ "node": "寄信通知-失敗", "type": "main", "index": 0 }]]
    },
    "錯誤觸發": {
      "main": [[{ "node": "寄信通知-失敗", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "pinData": {}
}
